@import url(index.css);
@import url(footer.css);
@import url(header.css);
@import url(forms.css);

body {
    font-family: arial;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    width: 100%;
}